{% extends "base.html" %}



{% block title %} Galeria de Fotos | {{ block.super }} {% endblock %}

{% block content %}
<section class="section-about" style="min-height: 600px;">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="font-size: 4em; font-weight: 600;">Álbuns</h1>
        </div>
    </div>
    <div class="row">
        {% for galeria in galeria_fotos %}
            {% if galeria.photo_count != 0 %}
                <div class="col-sm-4">
                      <div class="view photo-list-album-view awake"
                         style="transform: translate(0px, 8px);width: 279px;height: 279px;background-image: url({{galeria.photos.latest.image.url}});">
                          <a class="interaction-view avatar photo-list-album album ginormous" href="{% url 'content:galery-detail' galeria.slug %}" title="{{galeria}}" >
                            <div class="photo-list-album-interaction dark has-actions">
                                <a class="overlay" href="{% url 'content:galery-detail' galeria.slug %}"></a>
                                <div class="interaction-bar">
                                    <div class="metadata">

                                        <h4 class="album-title">{{galeria}}</h4>
                                        {% if galeria.photo_count == 1 %}
                                            <span class="album-photo-count secondary">{{galeria.photo_count}} foto</span>
                                        {% endif %}

                                        {% if galeria.photo_count > 1 %}
                                            <span class="album-photo-count secondary">{{galeria.photo_count}} fotos</span>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if galeria_fotos.count == 0 %}
                <div class="center-text col-sm-12">
                    <h1>Nenhum álbum de fotos encontrado :(</h1>
                </div>
        {% endif %}
    </div>
</section>

{% endblock %}