{% extends "base.html" %}

{% load i18n %}

{% load thumbnail %}

{% load static %}

{% block title %}{{ gallery.title }}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/smartphoto.min.css' %}" />
<script src="{% static 'js/smartphoto.js' %}"></script>

<!-- BREADCRUMB -->
<section class="section-about" style="margin-bottom: 0px;">
    <div class="row">
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Início</a></li>
          <li><a href="{% url 'acervo' %}">Acervo</a></li>
		  <li><a href="{% url 'content:galeria' %}">Fotos</a></li>
          <li><a href="{% url 'content:galery-detail' gallery.slug %}">{{ gallery.title }}</a></li>
        </ol>
    </div>
</section>
<!-- END BREADCRUMB -->

<!-- Galery Title -->
<section>
    <div class="row">
        <div class="col-sm-12">
            <h1 style="font-size: 4em; font-weight: 600;">{{ gallery.title }}</h1>
			<p class="muted"><small>{% trans "Publicado em" %} {{ gallery.date_added }}</small></p>
        </div>
    </div>
</section>
<!-- END GALERY TITLE -->

<!-- Galery Description -->
{% if gallery.description %}
<section>
	<div class="row">
		<div class="col-sm-12" style=" text-align: justify; padding-bottom: 50px;">
			<p>{{ gallery.description|safe }}</p>
		</div>
	</div>
</section>
{% endif %}
<!-- End Galery Description -->
<style>

.module {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 5px;
}
.module > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
}
.module > header > h1 {
	margin: 0px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    font-size: 1em;
}

</style>

<!-- Galery Itens -->
<section>
		<div class="row" style="margin-bottom: 20px;">
		{% for photo in gallery.public %}
			<div class="col-sm-4">
				<a href="{{ photo.image.url}}" class="js-img-viwer" data-caption="{{ photo.title }}" data-id="{{ photo.title }}">
					<div class="module" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)); background-size: cover;">
						<img src="{{photo.image.url}}" style="height: 100%;width: 100%;" alt="{{ photo.title }}" />
					  <header>
						<h1> {{ photo.title }} </h1>
						{% if photo.credits_image %}
							<h1>Foto de {{photo.credits_image}}</h1>
						{% endif %}
					  </header>
					</div>
				</a>
			</div>
			<!--</a>-->
		{% if forloop.counter|divisibleby:3 %}
		</div>
		<div class="row" style="margin-bottom: 20px;">
			{% endif %}
		{% endfor %}
		</div>
</section>
<!-- End Galery Itens -->

<script>
	document.addEventListener('DOMContentLoaded',function(){
		var photo = new smartPhoto(".js-img-viwer");
	});
</script>
{% endblock %}