{% extends "base.html" %}
{% load widget_tweaks %}
{% load pagination %}

{% block title %} Notícias | {{ block.super }} {% endblock %}

{% block content %}

<div class="row">
       <article class="center-text">
            <h1><strong>Notícias</strong></h1>
        </article>
    </div>
<div class="row">
{% for noticia in noticias  %}
    {% include "content/_noticias.html" %}
{% endfor %}
</div>

<script>
    $('.owl-carousel-noticia').owlCarousel({
         margin:10,
        loop:true,
        width: '60px',
        items:1,
        nav: false,
    });
</script>

{% pagination request paginator page_obj %}

{% endblock %}