{% extends "base.html" %}

{% load pagination %}

{% block title %} Notícias | {{ block.super }} {% endblock %}

{% block content %}

<section class="section-noticia height-500">
     <div class="row d-flex justify-content-start">
        {% if noticias.count > 0 %}
            {% for noticia in noticias %}

                <div class="col-sm-4">
                    <a href="{% url 'content:noticia' noticia.pk %}" title="{{noticia.title}}" alt="{{noticia.title}}" style="text-decoration: none;">
                        <h3 class="hui-highlight-title">{{noticia.title |truncatechars_html:100}} </h3>
                        <h4 class="subheader">
                            <small>
                                <i class="fi-clock"></i>
                                Postado em {{noticia.published_at|date:"d/m/Y" }} por {{noticia.author}}
                            </small>
                        </h4>
                        <p> {{noticia.sub_title |truncatechars_html:100}} </p>
                        <p class="text-right">
                                <a href="{% url 'content:noticia' noticia.pk %}" class="">Continue lendo →</a>
                        </p>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}

        {% endif %}

        {% if noticias.count == 0 %}
                <div class="center-text col-sm-12">
                     <h1>Não foi encontrado nenhuma notícia cadastrada.</h1>
                </div>
        {% endif %}
        </div>
</section>

{% if noticias.count > 12 %}
    {% pagination request paginator page_obj %}
{% endif %}

<script>
    $('.owl-carousel-noticia').owlCarousel({
         margin:10,
        loop:true,
        width: '60px',
        items:1,
        nav: false,
    });
</script>
{% endblock %}