{% extends "base.html" %}

{% load pagination %}

{% load noticias_homepage %}

 {% load static %}

{% block title %} Notícias | {{ block.super }} {% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/noticias.css' %}" />
<section class="section-about home-body">

    <div class="row hui-spacing home-top-news hui-premium__wrapper">


        <div class="column medium-11  large-5 left-destaque">

            {% for destaque in noticias_destaque_left %}
            <div class="hui-premium hui-premium--has-photo clearfix hui-premium--has-related hui-color-sports">
                <a href="http://globoesporte.globo.com/futebol/copa-das-confederacoes/noticia/campeoes-retornam-para-a-alemanha-com-a-taca-da-copa-das-confederacoes.ghtml"
                   title="Campeões chegam à Alemanha com a taça das Confederações (Getty Images)"
                   class="hui-premium__link hui-highlight__link hui-hover-effect__trigger">
                    {% if destaque.image %}
                    <picture class="hui-premium__photo-container hui-hover-effect__target">
                     <img class="hui-premium__photo hui-lazy"
                          alt="Campeões chegam à Alemanha com a taça das Confederações (Getty Images)"
                          title="Campeões chegam à Alemanha com a taça das Confederações (Getty Images)"
                          src="{{destaque.image.url}}" />
                    </picture>
                    {% endif %}
                    <p class="hui-premium__title concilia-blue">{{destaque}}</p>
                </a>
            </div>
            <div class="hui-premium__divider show-for-small-only">&nbsp;</div>
           {% endfor %}
        </div>





        <!-- Divisor vertical -->
        <div class="column large-1 hui-premium__divider hui-premium__divider--vertical-medium"></div>
        <!-- -->

        <!-- Seção de destaque -->
        <div class="column large-12  hui-premium__wrapper-collumn--main">

                 {% if noticias_destaque_top %}
                    <div>
                    <div class="hui-premium hui-premium-manchete hui-premium--has-related hui-color-journalism">
                        <a href="{{noticias_destaque_top.get_absolute.url}}"
                           title="{{noticias_destaque_top}}" class="hui-premium__link">
                            <p class="news-premium__title">{{noticias_destaque_top}}</p>
                        </a>
                    </div>
                    <div class="hui-premium__divider">&nbsp;</div>
                </div>
                 {% endif %}
            <div>
                <div class="row hui-premium-multiple__container">
                    <div class="hui-premium-multiple__list">
                     {% for noticia in noticias_destaque_center %}
                        <div class="hui-premium column medium-8 hui-premium-multiple hui-premium-triplo hui-color-journalism">
                            <a href="{{noticia.get_absolute.url}}"
                               title="{{noticia}}" class="hui-premium__link hui-highlight__link">
                                <p class="news-premium__title__inferior">{{noticia}}</p>
                            </a>
                        </div>
                        <div class="hui-premium__divider column show-for-small-only">&nbsp;</div>
                      {% endfor %}
                    </div>
                </div>
                <div class="row hui-premium-multiple__container">
                     <div class="hui-premium__divider">&nbsp;</div>
                    <div class="hui-premium-multiple__list">
                        {% for destaque in noticias_destaque_center_with_image %}
                            <div class="hui-premium column medium-8 hui-premium-multiple hui-premium-triplo hui-premium--has-photo clearfix  hui-color-journalism">
                                <a href="{{destaque.image.url}}"
                                   title="{{destaque}}" class="hui-premium__link hui-highlight__link hui-hover-effect__trigger">
                                    {% if destaque.image %}
                                    <picture class="hui-premium__photo-container hui-hover-effect__target">
                                       <img class="hui-premium__photo hui-lazy" alt="{{destaque}}"
                                            title="{{destaque}}"
                                            src="{{destaque.image.url}}" />
                                    </picture>
                                     {% endif %}
                                    <p class="news-premium__title__inferior_with_image">{{destaque |truncatechars:60}}</p>

                                </a>
                            </div>
                            <div class="hui-premium__divider column show-for-small-only">&nbsp;</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- fim seção de destaque -->

        <!-- Divisor vertical -->
        <div class="column medium-2 large-1"></div>
        <!-- fim divisor vertical -->

        <div class="column medium-11 large-5 right-destaque hui-premium__wrapper-collumn--side">
            {% for destaque in noticias_destaque_right %}

                <div class="hui-premium hui-premium--has-photo clearfix hui-premium--has-related hui-color-entertainment">
                    <a href="{{destaque.get_absolute_url}}"
                       title="{{destaque}}"
                       class="hui-premium__link hui-highlight__link hui-hover-effect__trigger">
                        {% if destaque.image %}
                        <picture class="hui-premium__photo-container hui-hover-effect__target">
                          <img class="hui-premium__photo hui-lazy" alt="{{destaque}}"
                               title="{{destaque}}"
                               src="{{destaque.image.url}}" />
                        </picture>
                        {% endif %}
                        <p class="news-premium__title__inferior_with_image concilia-green">{{destaque}}</p>
                    </a>
                </div>
                {% if not forloop.last %}
                 <div class="hui-premium__divider show-for-small-only">&nbsp;</div>
                {% endif %}

            {% endfor %}
        </div>



    </div>
</section>


{% if noticias.count > 30 %}
    {% pagination request paginator page_obj %}
{% endif %}

{% endblock %}