{% extends "base.html" %}

{% block title %}
    {{ noticia }} | {{ block.super }}
{% endblock  %}

{% block content %}
<div class="background-middle bg-m-3" style="margin: 0">
    <div class="row">
        <div class="columns small-12">
            <h1>Notícias</h1>
        </div>
    </div>
</div>
<div class="b-background3"></div>
<div class="row">
    <div class="column small-12 large-8">
        <article>
            <h1><strong>{{ noticia }}</strong></h1>

            <div class="mc-column mc-show-later">
                <div class="content-meta-info">
                    <p class="content-meta-info__from">
                        <span itemprop="creator">Por {{noticia.author}} </span>
                        <meta itemprop="publisher" content="G1">
                    <!--</p>-->
                    <!--<p class="content-meta-info__updated">-->
                        <br />
                        Publicado em
                            <time itemprop="datePublished" datetime="{{noticia.published_at}}">{{noticia.published_at}}</time>
                        <!--<span class="content-meta-info__updated-relative">-->
                                <!--<time itemprop="dateModified" datetime="{{noticia.updated_at}}">{{noticia.updated_at}}</time>-->
                        <!--</span>-->
                    </p>
                </div>
            </div>
            {% if noticia.image %}
                <img src="{{noticia.image.url}}" />
            <div class="content-media__description-centered ">
                <p class="content-media__description">
                    <i class="content-media__description__icon theme-color-primary">
                        <!-- Icone foto legenda -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="13.5px" height="11.25px" viewBox="0 0 13 12">
                            <ellipse id="Oval" cx="6.5" cy="6.7826087" rx="2" ry="2.08695652"></ellipse>
                            <path d="M4.625,0.260869565 L3.48125,1.56521739 L1.5,1.56521739 C0.8125,1.56521739 0.25,2.15217391 0.25,2.86956522 L0.25,10.6956522 C0.25,11.4130435 0.8125,12 1.5,12 L11.5,12 C12.1875,12 12.75,11.4130435 12.75,10.6956522 L12.75,2.86956522 C12.75,2.15217391 12.1875,1.56521739 11.5,1.56521739 L9.51875,1.56521739 L8.375,0.260869565 L4.625,0.260869565 L4.625,0.260869565 Z M6.5,10.0434783 C4.775,10.0434783 3.375,8.5826087 3.375,6.7826087 C3.375,4.9826087 4.775,3.52173913 6.5,3.52173913 C8.225,3.52173913 9.625,4.9826087 9.625,6.7826087 C9.625,8.5826087 8.225,10.0434783 6.5,10.0434783 L6.5,10.0434783 Z" id="Shape">
                            </path>
                        </svg>
                    </i> <span class="content-media__description__caption" style="font-size: 12px;"> {{noticia.legend_image}} </span> </p> </div>
            {% endif %}
            {{noticia.text |safe }}
        </article>
    </div>
</div>
{% endblock  %}
