 {% load static %}
<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a href="#0" data-date="29/10/2013" class="selected">29 Out</a></li>
					<li><a href="#0" data-date="01/11/2013">1 Nov</a></li>
                    <li><a href="#0" data-date="26/11/2014">26 Nov</a></li>
					<li><a href="#0" data-date="09/12/2014">9 Dez</a></li>
                    <li><a href="#0" data-date="15/01/2015">15 Jan</a></li>
                    <li><a href="#0" data-date="19/01/2015">19 Jan</a></li>
                    <li><a href="#0" data-date="20/01/2015">20 Jan</a></li>
                    <li><a href="#0" data-date="23/01/2015">23 Jan</a></li>
                    <li><a href="#0" data-date="27/01/2015">27 Jan</a></li>
                    <li><a href="#0" data-date="28/01/2015">28 Jan</a></li>
                    <li><a href="#0" data-date="29/01/2015">29 Jan</a></li>
                    <li><a href="#0" data-date="30/01/2015">30 Jan</a></li>
                    <li><a href="#0" data-date="07/03/2015">7 Mar</a></li>
                    <li><a href="#0" data-date="23/03/2015">23 Mar</a></li>
                    <li><a href="#0" data-date="23/03/2015">23 Mar</a></li>
                    <li><a href="#0" data-date="28/03/2015">28 Mar</a></li>
                    <li><a href="#0" data-date="06/04/2015">6 Abr</a></li>
                    <li><a href="#0" data-date="07/04/2015">7 Abr</a></li>
                    <li><a href="#0" data-date="16/05/2015">16 Mai</a></li>
                    <li><a href="#0" data-date="16/05/2015">16 Mai</a></li>
                    <li><a href="#0" data-date="13/08/2015">13 Ago</a></li>
                    <li><a href="#0" data-date="27/08/2015">27 Ago</a></li>
                    <li><a href="#0" data-date="24/09/2015">24 Set</a></li>
                    <li><a href="#0" data-date="05/12/2015">5 Dez</a></li>
                    <li><a href="#0" data-date="09/12/2015">9 Dez</a></li>
                    <li><a href="#0" data-date="30/01/2016">30 Jan</a></li>
                    <li><a href="#0" data-date="09/04/2016">9 Abr</a></li>
                    <li><a href="#0" data-date="16/04/2016">16 Abr</a></li>
                    <li><a href="#0" data-date="24/05/2016">24 Mai</a></li>
                    <li><a href="#0" data-date="09/06/2016">9 Jun</a></li>
                    <li><a href="#0" data-date="24/05/2016">24 Mai</a></li>
                    <li><a href="#0" data-date="28/06/2016">28 Jun</a></li>
                    <li><a href="#0" data-date="26/07/2016">26 Jul</a></li>
                    <li><a href="#0" data-date="02/08/2016">2 Ago</a></li>
                    <li><a href="#0" data-date="19/09/2016">19 Set</a></li>
                    <li><a href="#0" data-date="25/09/2016">25 Set</a></li>
                    <!--<li><a href="#0" data-date="27/09/2016">27 Set</a></li>-->
                    <!--<li><a href="#0" data-date="01/10/2016">1 Out</a></li>-->
                    <!--<li><a href="#0" data-date="13/10/2016">13 Out</a></li>-->
                    <!--<li><a href="#0" data-date="04/03/2017">4 Mar</a></li>-->
                    <!--<li><a href="#0" data-date="13/03/2017">13 Mar</a></li>-->
                    <!--<li><a href="#0" data-date="13/03/2017">13 Mar</a></li>-->
                    <!--<li><a href="#0" data-date="20/03/2017">20 Mar</a></li>-->
                    <!--<li><a href="#0" data-date="26/04/2017">26 Abr</a></li>-->
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>
			<li class="selected" data-date="29/10/2013">
				<h2>Distribuição da Ação Civil Pública Nº 57367-09.2013.4.01.3800</h2>
				<em>29 de Outubro de 2013</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="01/11/2013">
				<h2>Reunião com lideranças comunitárias</h2>
				<em>01 de Novembro de 2013</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="26/11/2014">
				<h2>Event title here</h2>
				<em>March 20th, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="09/12/2014">
				<h2>Event title here</h2>
				<em>May 20th, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="15/01/2015">
				<h2>Event title here</h2>
				<em>July 9th, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="19/01/2015">
				<h2>Event title here</h2>
				<em>August 30th, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="20/01/2015">
				<h2>Event title here</h2>
				<em>September 15th, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="23/01/2015">
				<h2>Event title here</h2>
				<em>November 1st, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="27/01/2015">
				<h2>Event title here</h2>
				<em>December 10th, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="28/01/2015">
				<h2>Event title here</h2>
				<em>January 19th, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="29/01/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="30/01/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="07/03/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="23/03/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="28/03/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="06/04/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="07/04/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="16/05/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="13/08/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="27/08/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="24/09/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="05/12/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="30/01/2016">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="09/04/2016">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="16/04/2016">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="24/05/2016">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="09/06/2016">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="24/05/2016">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="28/06/2016">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="26/07/2016">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="02/08/2016">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="19/09/2016">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

            <li data-date="25/09/2016">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

		</ol>
	</div> <!-- .events-content -->
</section>
<script src="{% static 'js/horizontal-timeline.js' %}"></script>