 {% load static %}
<!--<header style="border-top: 2px solid #534f9c;">-->
<header>
    <!--<div class="row" id="external-menu">-->
     <div class="top-menu-container ">
        <nav class="main-ul-nav" style="font-weight: bold;">
            <div class="menu-header-menu-container" style="margin-left: 212px;">
                <ul id="menu-header-menu" class="menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19">
                        <a href="#">O Programa</a>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="{% url 'about' %}">O que é</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
                                            <a href="{% url 'conselho_executivo' %}">Conselho Executivo</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                            <a href="{% url 'partners' %}">Parceiros</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2780">
                                            <a href="{% url 'manual_marca' %}">Manual da marca</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19">
                        <a href="{% url 'content:comunidades' %}">Comunidades</a>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>

                                        {% for comunidade in comunidades %}
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="{{ comunidade.get_absolute_url }}">{{ comunidade }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18">
                        <a href="{% url 'content:comunidades' %}">Imóveis</a>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="#">Item1</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
                                            <a href="#">Item2</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                            <a href="#">Item3</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2780">
                                            <a href="#">Item4</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
                        <a href="{% url 'partners' %}">Imóveis2</a>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="#">Item1</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
                                            <a href="#">Item2</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                            <a href="#">Item3</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2780">
                                            <a href="#">Item4</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="menu-item-56" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-56">
                        <a href="{% url 'content:noticias' %}">Notícias</a>
                    </li>
                    <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
                        <a href="{% url 'faq' %}">Dúvidas</a>
                    </li>
                    <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
                        <a href="{% url 'contact' %}">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row">
        <div>
            <div class="image-block">
                <h1>
                    <a class="logo_marca"
                    style="background: url({% static 'img/concilia.png' %}) no-repeat center 0px #fff; margin-top: 0px;"
                    href="{% url 'index' %}">
                        Concilia BR 381</a>
                </h1>
            </div>
        </div>
    </div>
    <section id="big-map" class="image_header hide-for-small" >
        <!--<div class="image-header-left"></div>-->
        <!--<div class="image-block">-->
                <!--<div class="logo_marca"></div>-->
        <!--</div>-->

    </section>
</header>
<div class="top-border medium-down"></div>