 {% load static %}
  <div id="timeline-embed">
    <div id="timeline"></div>
  </div>
  <!-- build:css //cdn.knightlab.com/libs/timeline3/%(cdn)s/css/timeline.css -->
  <link rel="stylesheet" href="{% static 'css/font.knightlab.css' %}">
  <!-- endbuild -->
  <!-- build:css //cdn.knightlab.com/libs/timeline3/%(cdn)s/css/timeline.css -->
  <link title="timeline-styles" rel="stylesheet" href="{% static 'css/timeline.css' %}">
  <!-- endbuild -->
  <!-- build:js //cdn.knightlab.com/libs/timeline3/%(cdn)s/js/timeline-min.js -->
  <script src="{% static 'js/timeline.js' %}"></script>

  <!-- endbuild -->
  <script>
    $(document).ready(function(){
        var embed = document.getElementById('timeline-embed');
        embed.style.height = getComputedStyle(document.body).height;

        var options = {
            hash_bookmark: false,
            initial_zoom: 2,
            //timenav_height: 10,
            timenav_height_percentage: 1,
            slide_padding_lr: 50,
            slide_default_fade: 20,
            menubar_height: 10,
            timenav_position: 'bottom',
            height: 250
        };

        window.timeline = new TL.Timeline('timeline-embed', '{% static 'js/timeline_concilia.json' %}', options);
        window.addEventListener('resize', function() {

          var embed = document.getElementById('timeline-embed');
          embed.style.height = getComputedStyle(document.body).height;
          timeline.updateDisplay();

        })
      });
  </script>
