{% extends "base.html" %}

{% load static %}

{% block title %} O que é | {{ block.super }} {% endblock %}

{% block content %}

<div class="row">
     <article class="center-text">
            <h1><strong>O que é </strong></h1>
     </article>
</div>
<div class="row">
    <img src="{% static 'img/parceiros/concila_conceito.png' %}" />
</div>
<div class="line-separator-gray"></div>
<div class="row center-text">
    <h2 style="color: black;font-weight: bold;">
              O Concilia BR-381 e Anel surge da necessidade de revitalização e ampliação dos 330 km da BR-381 Norte.
          </h2>
    <img src="{% static 'img/parceiros/anel_rodoviario.png' %}" />
</div>
{% endblock %}