{% extends "base.html" %}

{% load static %}

{% block title %} O que é | {{ block.super }} {% endblock %}

{% block content %}

<section>
    <div class="row">
        <div class="col-sm-12">
            <h1 style="font-size: 4em; font-weight: 600;">O QUE É</h1>
        </div>
    </div>
</section>

<section>

    <div class="row">
         <h1 class="subtitle-text-with-image">As rodovias</h1>
        <div class="col-sm-6">
            <p class="justfy-text">O Anel Rodoviário de Belo Horizonte e a BR-381 Norte são importantes rodovias para Minas Gerais, onde transitam cerca de 154 mil veículos por dia, segundo dados de 2013. O tráfego existente já extrapolou o volume planejado quando a rodovia foi construída, em 1950.</p>
            <p class="justfy-text">De acordo com a Polícia Rodoviária Federal (PRF), os 27 km do Anel Rodoviário de Belo Horizonte e os 303 km da BR-381 Norte (trecho de BH a Governador Valadares) são parte da malha rodoviária mineira com o maior índice de acidentes no estado. Para aumentar o fluxo de veículos das rodovias, foram projetadas obras de melhorias em diversos trechos. No entanto, a execução das obras depende da remoção de muitas famílias que ocuparam as faixas de domínio e passaram a viver às margens das rodovias.</p>
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/imagens-paginas-internas/01.jpg' %}" />
        </div>
    </div>
</section>

<section class="section-about">
    <div class="row">
        <h1 class="subtitle-text-with-image">O Programa</h1>
        <div class="col-sm-6">
            <img src="{% static 'img/imagens-paginas-internas/02.jpg' %}" />
        </div>
        <div class="col-sm-6">
            <p class="justfy-text"> O <b>Concilia BR-381 e Anel </b>  - Programa Judicial de Conciliação para Remoção e Reassentamento Humanizados de Famílias do Anel Rodoviário e BR-381 é uma iniciativa da Justiça Federal e do Departamento Nacional de Infraestrutura de Transportes (DNIT). Ele surgiu em 2013 fruto de uma Ação Civil Pública (ACP nº 57367-09.2013.4.01.3800) ajuizada pelo Ministério Público Federal (MPF) e Defensoria Pública da União (DPU), que se uniram em favor das diversas comunidades afetadas pelas obras na BR-381 e no Anel Rodoviário. </p>
            <p class="justfy-text">O Programa consiste em remover e reassentar os moradores que residem na faixa de domínio das rodovias. É realizado um acompanhamento multidisciplinar das famílias em todo esse processo de mudança.  As atividades tiveram início em 2014 e contam com parcerias de instituições públicas e apoio da sociedade civil organizada. </p>
        </div>
    </div>
</section>

<section class="section-about">
    <div class="row">
        <h1 class="subtitle-text-with-image">O Reassentamento</h1>
        <div class="col-sm-6">
            <p class="justfy-text">O reassentamento dos moradores será acompanhado de propostas que atendam aos critérios indicados pela Justiça Federal e garantam os direitos sociais e a inserção social das famílias cadastradas no Programa.</p>
            <p class="justfy-text">Além dos moradores (idosos, adultos, crianças, adolescentes e pessoas com deficiência) serem inseridos em atividades sociais e educativas de saúde, assistência social, geração de emprego e renda, cultura e educação, o Programa trabalha com três modalidades de reassentamento para as famílias: indenização, compra assistida e nova unidade habitacional.</p>
            <p class="justfy-text">Na primeira fase do reassentamento iniciada em 2017, o <b>Concilia BR-381 e Anel</b> oferece duas modalidades de aquisição, por compra assistida e por indenização. No caso da compra assistida, é feita uma análise de habitabilidade que leva em consideração o perfil de cada núcleo familiar.   </p>
            <p class="justfy-text">O DNIT é o responsável pela indenização e aquisição de imóveis disponíveis em Belo Horizonte, região metropolitana e outros municípios.</p>
        </div>
        <div class="col-sm-6">
            <p>
             <img src="{% static 'img/imagens-paginas-internas/03.jpg' %}" />
            </p>

            <p class="justfy-text">A etapa de 2017 se caracteriza pelo reassentamento prioritário de 271 famílias. Para 2018, está previsto o início do reassentamento de mais 1.090 famílias. As ações são pautadas em um <a href="{% url 'plano_providencias' %}">Plano de Providências</a>, documento que tem por objetivo viabilizar e nortear o reassentamento definitivo dessas famílias.</p>
        </div>
    </div>
</section>

<section class="section-about">
    <div class="row">
        <h1 class="subtitle-text-with-image">Conciliação</h1>
         <div class="col-sm-6">
            <p>
             <img src="{% static 'img/imagens-paginas-internas/04.jpg' %}" />
            </p>
             <p class="justfy-text">Também visando a Conciliação e o cumprimento do acordo judicial assinado entre as partes foi criado um <a href="{% url 'conselho_executivo' %}">Conselho Executivo</a> composto por representantes das instituições parceiras do <b>Concilia BR-381 e Anel</b>.</p>
         </div>
        <div class="col-sm-6">
            <p class="justfy-text">A principal função da Conciliação é a realização de um acordo evitando que um conflito continue. Por meio dela, as partes envolvidas comunicam ao órgão competente ou são chamadas por este órgão para tentar firmar um acordo, ou seja, conciliar. Assim, a Justiça Federal marcará uma audiência e, no dia agendado, as partes, diante do conciliador, entram em um acordo e anunciam a solução mais justa para todos.</p>
            <p class="justfy-text">Os acordos que forem firmados através da Conciliação têm uma validade jurídica, pois, os termos do acordo são levados à homologação judicial. Este acordo é feito com cada família removida e reassentada de forma humanizada. A Conciliação não causa nenhum tipo de ordem obrigatória: os conciliadores podem fazer sugestões ou, até mesmo, propor soluções para o conflito.</p>
            <p class="justfy-text">Esse grupo se reúne periodicamente para deliberar e decidir sobre questões estratégicas e casos específicos. O resultado de suas deliberações é submetido ao juízo para homologação.</p>
        </div>

    </div>
</section>


<div class="line-separator-gray"></div>
{% endblock %}