<!DOCTYPE html> {% load static %}
<html lang="pt-br">

<head>
    <!-- ################################################  -->
    <!-- #                                              #  -->
    <!-- # WEBSITE DESENVOLVIDO POR @LUCASLAMOUNIER     #  -->
    <!-- #                                              #  -->
    <!-- #                                              #  -->
    <!-- ################################################  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" " />
    <title>{% block title %} Concilia BR-381 e Anel {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'foundation-icons/foundation-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}" />
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
</head>

<body>
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">

             <!-- Menu responsivo -->

            <div class="top-border hide-for-medium-down"></div>
            <nav class="tab-bar mobile-tab-bar show-for-medium-down" data-topbar>

                <section class="right-small mobile-right-small">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/concilia_without_text.png' %}" />
                    </a>
                </section>

                <section class="middle tab-bar-section center-text">
                    <a href="{% url 'index' %}">
                        <h1 class="title-sm-mobile">Concilia BR 381 e Anel</h1>
                    </a>
                </section>

                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" href="#" title="menu"><span></span></a>
                </section>

            </nav>
            <aside class="left-off-canvas-menu" id="menu-mobile">
                <ul class="off-canvas-list">
                    <li class="menu-item menu-item-root menu-item-type-post_type menu-item-object-page menu-item-has-children">
                        <button class="button-sub-menu">O Programa </button>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a class="mobile-submenu-item" href="{% url 'about' %}">O que é</a>
                                        </li>

                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a class="mobile-submenu-item" href="{% url 'partners' %}">Parceiros</a>
                                        </li>
                                         <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                             <a href="{% url 'conselho_executivo' %}">Conselho Executivo</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                            <a href="{% url 'manual_marca' %}">Manual de identidade visual</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="menu-item menu-item-root menu-item-type-post_type menu-item-object-page menu-item-has-children">
                        <button class="button-sub-menu">Comunidades </button>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                       <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="{% url 'content:comunidades' %}">Comunidades Seladas</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="">CMAR</a>
                                        </li>
                                        {% for comunidade in comunidades %}
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2780">
                                            <button class="button-sub-menu" onclick="window.location.href='{{comunidade.get_absolute_url}}'">{{comunidade}}</button>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="menu-item menu-item-root menu-item-type-post_type menu-item-object-page">
                         <button class="button-sub-menu">Imóveis </button>
                    </li>
                    <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
                        <button class="button-sub-menu">Providências</button>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'plano_providencias' %}'">Plano de Providências</button>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'criterios_regras' %}'">Critérios e Regras</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-item-root menu-item-type-taxonomy menu-item-object-category">
                        <button class="button-sub-menu" onclick="window.location.href='{% url 'content:noticias' %}'">Notícias </button>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                         <button class="button-sub-menu">Acervo </button>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'content:galeria' %}'">Fotos</button>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'content:videos' %}'">Vídeos</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-item-root menu-item-type-post_type menu-item-object-page">
                        <button class="button-sub-menu" onclick="window.location.href='{% url 'content:perguntas-frequentes' %}'">Dúvidas </button>

                    </li>
                    <li class="menu-item menu-item-root menu-item-type-post_type menu-item-object-page">
                        <button class="button-sub-menu" onclick="window.location.href='{% url 'contact' %}'">Contato </button>

                    </li>
                </ul>

            </aside>

             <!-- Menu -->

            {% include "_menu.html" %}

            <!-- Conteúdos da página -->


            <!--<div class="container-fluid">-->
             <div >
                <button onclick="topFunction()" id="BtnTopo" title="Ir para o topo"> Topo </button>
                {% block content %}{% endblock %}

            </div>

            <!-- Rodapé -->
            <div class="line-separator-gray"></div>
            <footer>
                <div class="row" style="margin-bottom: 25px;">
                        <div class="col-sm-3">
                            <p class="label-rodape">Apoio:</p>
                            <a href="{% url 'partners' %}" target="_blank" title="Comunidade dos Moradores do Anel Rodoviário - CMAR">
                                <img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/CMAR2.png' %}" alt="Comunidade dos Moradores do Anel Rodoviário - CMAR" />
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <p class="label-rodape">Parceria:</p>
                             <a class="" href="{% url 'partners' %}" target="_blank" title="Realização e Parceria">
                               <img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/apoio2.png' %}" alt="Apoio" />
                             </a>
                        </div>
                </div>

                <!--<br />-->
                <div class="row">
                    <div class="col-sm-12">
                        <p class="label-rodape" style="position: absolute;">Realização:</p>

                        <a class="" href="{% url 'partners' %}" target="_blank" title="Realização e Parceria">
                            <img class="footer-image img-responsive" src="{% static 'img/logomarcas/realizacao2.png' %}" alt="Realização" />
                        </a>
                    </div>
                </div>
            </footer>
            <a href="#" class="seta-cima"></a>
            <div class="rodape_end_background">

                <div class="row" style="text-align: center;">
                    <p style="margin-top: 40px;font-weight: bold; color: white;">&copy; Copyright 2017 Concilia BR-381 e Anel</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Bibliotecas requeridas pelo sistema -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(document).ready(function () {
                // Mobile Menu hide and show
                $('#menu-mobile ul li').mouseenter(function() {
                    $(this).children('div').show();
                });

                $('#menu-mobile ul li').mouseleave(function(){
                     $(this).children('div').hide();
                });
        });
    </script>

</body>

</html>