<!DOCTYPE html> {% load static %}
<html lang="pt-br">

<head>
    <!-- ################################################  -->
    <!-- #                                              #  -->
    <!-- # WEBSITE DESENVOLVIDO POR @LUCASLAMOUNIER     #  -->
    <!-- #                                              #  -->
    <!-- #                                              #  -->
    <!-- ################################################  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" " />
    <title>{% block title %} Concilia BR 381 {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'foundation-icons/foundation-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}" />

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

</head>

<body>
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">

             <!-- Menu responsivo -->

            <div class="top-border hide-for-medium-down"></div>
            <nav class="tab-bar show-for-medium-down" data-topbar>

                <section class="right-small">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/concilia_without_text.png' %}" />
                    </a>
                </section>

                <section class="middle tab-bar-section">
                    <h1 class="title">Concilia BR 381</h1>
                </section>

                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                </section>

            </nav>
            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li>
                        <label>Concilia BR 381</label>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19">
                        <a href="#">O Programa</a>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="{% url 'about' %}">O que é</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
                                            <a href="{% url 'conselho_executivo' %}">Conselho Executivo</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                            <a href="{% url 'partners' %}">Parceiros</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2780">
                                            <a href="{% url 'manual_marca' %}">Manual da marca</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19">
                        <a href="{% url 'content:comunidades' %}">Comunidades</a>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>

                                        {% for comunidade in comunidades %}
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="{{ comunidade.get_absolute_url }}">{{ comunidade }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18">
                        <a href="{% url 'content:comunidades' %}">Imóveis</a>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="#">Item1</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
                                            <a href="#">Item2</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                            <a href="#">Item3</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2780">
                                            <a href="#">Item4</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
                        <a href="{% url 'partners' %}">Imóveis2</a>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="#">Item1</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
                                            <a href="#">Item2</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                            <a href="#">Item3</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2780">
                                            <a href="#">Item4</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-56">
                        <a href="{% url 'content:noticias' %}">Notícias</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
                        <a href="{% url 'faq' %}">Dúvidas</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
                        <a href="{% url 'contact' %}">Contato</a>
                    </li>
                </ul>

            </aside>

             <!-- Menu -->

            {% include "_menu.html" %}

            <!-- Conteúdos da página -->


            <!--<div class="container-fluid">-->
             <div class="container-fluid">
                <button onclick="topFunction()" id="BtnTopo" title="Ir para o topo">Topo</button>
                {% block content %}{% endblock %}

            </div>

            <!-- Rodapé -->

            <footer>
                <div class="row">
                        <div class="columns small-3">
                            <p class="label-rodape">Apoio:</p>
                        </div>
                        <div class="columns small-9">
                            <p class="label-rodape">Parceria:</p>
                        </div>
                </div>
                <div class="row">
                    <div class="columns small-12">
                        <div class="col-sm-3">
                            <a href="http://comunidadecmar.blogspot.com.br" target="_blank" title="Comunidade dos Moradores do Anel Rodoviário - CMAR">
                                <img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/CMAR2.png' %}" alt="Comunidade dos Moradores do Anel Rodoviário - CMAR" />
                            </a>
                        </div>
                        <div class="columns small-9">
                           <img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/apoio.png' %}" alt="Apoio" />
                        </div>


                        <!--<div class="col-sm-2">-->
                                    <!--<a class="" href="https://prefeitura.pbh.gov.br/estrutura-de-governo/urbel" target="_blank" title="Companhia Urbanizadora e de Habitação de Belo Horizonte (URBEL)">-->
                                        <!--<img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/urbel.png' %}" alt="Companhia Urbanizadora e de Habitação de Belo Horizonte (URBEL)" />-->
                                    <!--</a>-->
                            <!--</div>-->
                                <!--<div class="col-sm-2">-->

                                    <!--<a class="" href="https://prefeitura.pbh.gov.br" target="_blank" title="Prefeitura de Belo Horizonte">-->
                                        <!--<img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/prefeitura_bh.png' %}" alt="Prefeitura Municipal de Belo Horizonte" />-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div class="col-sm-2">-->
                                    <!--<a class="" href="http://www.dpu.gov.br" target="_blank" title="Defensoria Pública da União">-->
                                        <!--<img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/DPU.png' %}" alt="Defensoria Pública da União" />-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div class="col-sm-2">-->
                                    <!--<a class="" href="http://www.mpf.mp.br" target="_blank" title="Ministério Público Federal">-->
                                        <!--<img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/mpf.png' %}" alt="Ministério Público Federal" />-->
                                    <!--</a>-->
                                <!--</div>-->
                        <!--<div class="col-sm-2">-->
                            <!--<a class="" href="http://www.caixa.gov.br" target="_blank" title="Caixa Econômica Federal">-->
                                <!--<img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/caixa.png' %}" alt="Caixa Econômica Federal" />-->
                            <!--</a>-->
                        <!--</div>-->
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="columns small-12">
                        <p class="label-rodape">Realização:</p>
                         <img class="footer-image img-responsive" src="{% static 'img/logomarcas/realizacao.png' %}" alt="Realização" />
                       <!--<div class="col-sm-3">-->
                            <!--<a class="" href="http://www.cjf.jus.br" target="_blank" title="Justiça Federal">-->
                                <!--<img class="footer-image" src="{% static 'img/logomarcas/1-Just.png' %}" height="87px" alt="www.cjf.jus.br" style="float: right;"/>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="col-sm-3">-->
                            <!--<a class="" href="http://www.dnit.gov.br" target="_blank" title="DNIT - Departamento Nacional de Infraestrutura de Transporte">-->
                                <!--<img class="footer-image" src="{% static 'img/logomarcas/2-DNIT.png' %}" height="87px" alt="dnit.gov.br"/>-->
                            <!--</a>-->
                        <!--</div>-->

                        <!--<div class="col-sm-6">-->
                            <!--<a class="" href="http://www.brasil.gov.br" target="_blank" title="Governo Federal">-->
                                <!--<img class="footer-image" src="{% static 'img/logomarcas/3-gov.png' %}" height="87px"  alt="www.brasil.gov.br"/>-->
                            <!--</a>-->

                        <!--</div>-->
                    </div>
                </div>
            </footer>
            <a href="#" class="seta-cima"></a>
            <div class="rodape_end_background">

                <div class="row" style="text-align: center;">
                    <p style="margin-top: 45px;font-weight: 500;">&copy; Copyright 2017 Concilia BR-381 e Anel</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Bibliotecas requeridas pelo sistema -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>