<!DOCTYPE html> {% load static %}
<html lang="pt-br">
<head>
    <!-- ################################################  -->
    <!-- #                                              #  -->
    <!-- # WEBSITE DESENVOLVIDO POR LUCASLAMOUNIER      #  -->
    <!-- #                                              #  -->
    <!-- ################################################  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" " />
    <title>{% block title %} Concilia BR 381 {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'foundation-icons/foundation-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}" />
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
    <header style="border-top: 2px solid #534f9c;">
        <div class="row">
            <div class="col-sm-3" style="height: 20px;">
                <div class="image-block">
                    <h1>
                        <a class="logo_marca" style="background: url({% static 'img/concilia.png' %}) no-repeat center 18px #fff; margin-top: 34px;"
                           href="{% url 'index' %}">Concilia BR 381</a>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        {% block content %}{% endblock %}

        <footer>
            <div class="row">
                <div class="col-sm-2">
                    <p>APOIO:</p>
                    <a href="http://www.dnit.gov.br/" title="Dnit">
                        <img src="{% static 'img/parceiros/apoio_cmar.png' %}" alt="dnit.gov.br" width="140px" />
                    </a>
                </div>
                <div class="col-sm-10">
                    <p>PARCEIROS:</p>
                    <a class="image_spacing" href="http://www.dnit.gov.br/" title="Dnit">
                        <img src="{% static 'img/parceiros/urbel.png' %}" alt="dnit.gov.br" width="170px" />
                    </a>
                    <a class="image_spacing" href="http://www.dnit.gov.br/" title="Dnit">
                        <img src="{% static 'img/parceiros/prefeitura_bh.png' %}" alt="dnit.gov.br" width="170px" />
                    </a>
                    <a class="image_spacing" href="http://www.dnit.gov.br/" title="Dnit">
                        <img src="{% static 'img/parceiros/dpu.png' %}" alt="dnit.gov.br" width="140px" />
                    </a>
                    <a class="image_spacing" href="http://www.dnit.gov.br/" title="Dnit">
                        <img src="{% static 'img/parceiros/mpf.png' %}" alt="dnit.gov.br" width="140px" />
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <p>REALIZAÇÃO:</p>
                    <div style="margin-top: -50px;">
                        <a class="image_spacing" href="http://www.dnit.gov.br/" title="Dnit">
                            <img class="image_realizacao" src="{% static 'img/parceiros/dnit_mtpa.png' %}" alt="dnit.gov.br" />
                        </a>
                        <a class="image_spacing" href="http://www.cjf.jus.br" title="Justiça Federal">
                            <img class="image_realizacao" src="{% static 'img/parceiros/jf.png' %}" alt="www.cjf.jus.br" />
                        </a>
                        <a class="image_spacing" href="http://www.brasil.gov.br" title="Governo Federal">
                            <img class="image_realizacao" src="{% static 'img/parceiros/gov.png' %}" alt="www.brasil.gov.br" style="margin-bottom: 35px;" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <div class="rodape_end_background">
            <div class="row" style="color: white; text-align: center;">
                <p style="color: white; margin-top: 45px;font-weight: 500;">&copy; Copyright 2017 Concilia BR 381 e Anel</p>
            </div>
        </div>
    </div>
    <!-- Bibliotecas requeridas pelo sistema -->
    <script src="{% static 'js/jquery.timelinr-0.9.6.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPCEFB2GTWm_rCGIRbFmOy88OGTWuwupk">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/gmap3.min.js' %}"></script>
    <script src="{% static 'js/gmap3.infobox.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>