{% load static %}
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<div class="row">
        <div class="tile tile-default">
            <div>
                <h1 class="text-header-page">Notícias</h1>
                <div class="visualClear"></div>
            </div>
        </div>
</div>
{% if noticias_carrousel.count != 0 %}
<div class="row">
    <div class="col-sm-11">
        <div class="owl-carousel owl-theme " id="tile_banner_rotativo">
            {% for noticia in noticias_carrousel %}
                <div class="item">
                    <a href="{% url 'content:noticia' noticia.pk %}" class="banner">
                        <span class="credito"></span>
                        <img class="banner-img" src="{{noticia.image.url}}" alt="{{noticia.title}}"><span class="faixa"></span>
                        <span class="title">{{noticia.title}}</span>
                        <span class="descr">{{noticia.sub_title}}</span>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}
<script>
    $('.owl-carousel').owlCarousel({
        center: true,
        loop: true,
        items: 1,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,
        responsiveClass:true
    })
</script>