<div class="row" data-layout-type="row">

    <div>

        <div class="tile tile-default">
            <div>
                <!--<p class="tile-subtitle">Notícias</p>-->
                  <h1 class="text-header-page">Notícias</h1>
                <div class="visualClear"></div>

            </div>
        </div>

    </div>

</div>
<div class="row">
    <div >
        <div class="owl-carousel owl-theme" id="tile_banner_rotativo">

            {% for noticia in noticias_destaque %}
                <div class="item">
                    <a href="{% url 'content:noticia' noticia.pk %}" class="banner">
                        <span class="credito"></span>
                        <img class="banner-img" src="{{noticia.image.url}}" alt="{{noticia.title}}"><span class="faixa"></span>
                        <span class="title">{{noticia.title}}</span>
                        <span class="descr">{{noticia.sub_title}}</span>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

<script>
    $('.owl-carousel').owlCarousel({
        center: true,
        loop: true,
        items: 1,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true
    })
</script>