{% extends "base.html" %}

{% load static %}

{% block title %} CMAR| {{ block.super }} {% endblock %}

{% block content %}

<section>
    <div class="row">
        <div class="col-sm-12" style="margin-top: 45px;">
            <h1 class="title-header-section">CMAR - COMUNIDADE DE MORADORES EM ÁREAS DE RISCOS</h1>
        </div>
    </div>
</section>

<section class="section-about">
    <div class="row">
        <div class="col-sm-6">
            <span style="font-size: 11px; font-weight: normal;float: right;">Crédito CMAR</span>
            <img src="{% static 'img/imagens-paginas-internas/cmar001.png' %}" />
            <div class="content-media__description-centered ">
                    <p class="content-media__description" style="line-height: 10px;">
                        <i class="content-media__description__icon theme-color-primary">
                            <!-- Icone foto legenda -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="13.5px" height="11.25px" viewBox="0 0 13 12">
                                <ellipse id="Oval" cx="6.5" cy="6.7826087" rx="2" ry="2.08695652"></ellipse>
                                <path d="M4.625,0.260869565 L3.48125,1.56521739 L1.5,1.56521739 C0.8125,1.56521739 0.25,2.15217391 0.25,2.86956522 L0.25,10.6956522 C0.25,11.4130435 0.8125,12 1.5,12 L11.5,12 C12.1875,12 12.75,11.4130435 12.75,10.6956522 L12.75,2.86956522 C12.75,2.15217391 12.1875,1.56521739 11.5,1.56521739 L9.51875,1.56521739 L8.375,0.260869565 L4.625,0.260869565 L4.625,0.260869565 Z M6.5,10.0434783 C4.775,10.0434783 3.375,8.5826087 3.375,6.7826087 C3.375,4.9826087 4.775,3.52173913 6.5,3.52173913 C8.225,3.52173913 9.625,4.9826087 9.625,6.7826087 C9.625,8.5826087 8.225,10.0434783 6.5,10.0434783 L6.5,10.0434783 Z" id="Shape">
                                </path>
                            </svg>
                        </i>
                        <span class="content-media__description__caption" style="font-size: 12px;">Mães do Anel durante passeata em defesa de todos aqueles que tiveram suas vidas interrompidas</span> </p>
                </div>
        </div>
        <div class="col-sm-6">

            <br />
            <p class="justfy-text">O movimento Comunidade de Moradores em Áreas de Riscos (CMAR) se constituiu após a divulgação da ameaça de desapropriação dos moradores do Anel Rodoviário de Belo Horizonte em função das obras de revitalização da via. </p>
            <p class="justfy-text">Inicialmente, o grupo era composto apenas por mulheres e todas elas mães. Conhecidas como Mães do Anel, elas iniciaram a luta pelo direito à moradia. Aos poucos o movimento foi crescendo, novos membros deram força ao grupo que passou a se chamar CMAR.</p>
        </div>

    </div>
</section>

<section class="section-about">
    <div class="row">
         <div class="col-sm-6">
            <span style="font-size: 11px; font-weight: normal;float: right;">Crédito CMAR</span>
            <img src="{% static 'img/imagens-paginas-internas/cmar002.png' %}" />
               <div class="content-media__description-centered ">
                    <p class="content-media__description">
                        <i class="content-media__description__icon theme-color-primary">
                            <!-- Icone foto legenda -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="13.5px" height="11.25px" viewBox="0 0 13 12">
                                <ellipse id="Oval" cx="6.5" cy="6.7826087" rx="2" ry="2.08695652"></ellipse>
                                <path d="M4.625,0.260869565 L3.48125,1.56521739 L1.5,1.56521739 C0.8125,1.56521739 0.25,2.15217391 0.25,2.86956522 L0.25,10.6956522 C0.25,11.4130435 0.8125,12 1.5,12 L11.5,12 C12.1875,12 12.75,11.4130435 12.75,10.6956522 L12.75,2.86956522 C12.75,2.15217391 12.1875,1.56521739 11.5,1.56521739 L9.51875,1.56521739 L8.375,0.260869565 L4.625,0.260869565 L4.625,0.260869565 Z M6.5,10.0434783 C4.775,10.0434783 3.375,8.5826087 3.375,6.7826087 C3.375,4.9826087 4.775,3.52173913 6.5,3.52173913 C8.225,3.52173913 9.625,4.9826087 9.625,6.7826087 C9.625,8.5826087 8.225,10.0434783 6.5,10.0434783 L6.5,10.0434783 Z" id="Shape">
                                </path>
                            </svg>
                        </i>
                        <span class="content-media__description__caption" style="font-size: 12px;">Reunião com Ministério Público Federal e Defensoria Pública da União</span> </p>
                </div>
        </div>

        <div class="col-sm-6">
            <br />
            <br />
            <p class="justfy-text">Os moradores perceberam que cada comunidade lutando sozinha, não poderia conseguir qualquer possibilidade de negociação que os favorecessem com respeito e bem estar de todos.  E a remoção aconteceria sem qualquer possibilidade atendimento com dignidade. </p>
            <p class="justfy-text">O problema que atingia cada uma das comunidades constitui um problema de todas. Nesse sentido, todas as lideranças das diversas comunidades se reuniram para, juntos, buscar uma solução, que atendesse o conjunto de todas as famílias atingidas pelas obras de melhorias das rodovias.</p>
        </div>
    </div>
</section>

<section class="section-about">
    <div class="row">

        <div class="col-sm-6">

            <span style="font-size: 11px; font-weight: normal;float: right;">Crédito CMAR</span>
            <img src="{% static 'img/imagens-paginas-internas/cmar003.png' %}" />
            <div class="content-media__description-centered ">
                    <p class="content-media__description">
                        <i class="content-media__description__icon theme-color-primary">
                            <!-- Icone foto legenda -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="13.5px" height="11.25px" viewBox="0 0 13 12">
                                <ellipse id="Oval" cx="6.5" cy="6.7826087" rx="2" ry="2.08695652"></ellipse>
                                <path d="M4.625,0.260869565 L3.48125,1.56521739 L1.5,1.56521739 C0.8125,1.56521739 0.25,2.15217391 0.25,2.86956522 L0.25,10.6956522 C0.25,11.4130435 0.8125,12 1.5,12 L11.5,12 C12.1875,12 12.75,11.4130435 12.75,10.6956522 L12.75,2.86956522 C12.75,2.15217391 12.1875,1.56521739 11.5,1.56521739 L9.51875,1.56521739 L8.375,0.260869565 L4.625,0.260869565 L4.625,0.260869565 Z M6.5,10.0434783 C4.775,10.0434783 3.375,8.5826087 3.375,6.7826087 C3.375,4.9826087 4.775,3.52173913 6.5,3.52173913 C8.225,3.52173913 9.625,4.9826087 9.625,6.7826087 C9.625,8.5826087 8.225,10.0434783 6.5,10.0434783 L6.5,10.0434783 Z" id="Shape">
                                </path>
                            </svg>
                        </i>
                        <span class="content-media__description__caption" style="font-size: 12px;">O CMAR tem o título da segunda maior audiência Pública na Câmara Municipal</span> </p>
                </div>
        </div>
        <div class="col-sm-6">
             <br />
            <br />
            <p class="justfy-text">Hoje, o movimento CMAR conta com a participação das Vilas da Paz, Vila da Luz, Vila São José, Madre Gertrudes, Vila Aldeia, Vila Nova Paraíso, Vila Biquinha, Vila da Rua Professor Paixão e Pátio da Estação.</p>

        </div>
    </div>
</section>

{% endblock %}