{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    Conselho Executivo | {{ block.super }}
{% endblock  %}

{% block content %}

<div class="row">
        <article class="center-text">
            <h1><strong>Conselho Executivo</strong></h1>
        </article>
</div>
<div class="row">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem diam, semper vel orci quis, venenatis egestas erat. Phasellus molestie magna vitae feugiat lacinia. Quisque fermentum luctus lectus, vitae porta nisl fermentum non. Proin tristique nec odio finibus volutpat. Nulla at vulputate quam. In et mi iaculis, vulputate metus vel, imperdiet est. Nam sodales diam sed nulla imperdiet tristique. In a ullamcorper purus. Sed ultricies, neque vel sagittis pellentesque, ligula nunc dictum quam, eget semper metus diam vitae diam. Duis nec sem congue, laoreet sem sit amet, mollis odio. Cras feugiat tortor vel risus consectetur varius. In at euismod leo. Vestibulum a congue est.

Proin lobortis diam ac sodales placerat. Vestibulum accumsan faucibus condimentum. Sed sed orci tempor, convallis est non, malesuada mauris. Sed id risus lacinia, posuere enim eget, tempus felis. Proin et urna odio. Nam mollis a lectus at ultrices. Integer lobortis tempus neque porttitor scelerisque. Aliquam lobortis placerat dictum. Ut molestie ex nibh, at efficitur lectus commodo in. Fusce blandit, ex quis fermentum semper, nibh est luctus lacus, vitae dictum nibh sapien sed ligula. Mauris ut tellus fermentum, gravida dolor non, congue turpis.

Etiam laoreet porta urna vel cursus. Ut porta sit amet neque eget tincidunt. Nam interdum sed nisi vitae viverra. Cras fringilla dolor euismod fringilla suscipit. Donec eu nulla magna. Duis bibendum, augue et sodales egestas, neque orci vestibulum sem, in porta odio lectus non erat. Quisque vitae risus auctor, dictum arcu cursus, tempor quam. Sed dignissim, lectus non mattis aliquam, lorem urna venenatis lacus, efficitur maximus dolor magna et velit. Praesent blandit nec metus vitae dapibus. Maecenas euismod vitae magna et viverra. Fusce et metus nec libero rutrum rutrum. Praesent porttitor elit non quam pharetra, in luctus sapien finibus. Fusce non ultricies eros. Maecenas facilisis leo quam, nec posuere libero facilisis eu. Suspendisse fringilla malesuada elementum. Aliquam cursus tempor pulvinar.

</p>
</div>
{% endblock  %}