{% extends "base.html" %}

{% load widget_tweaks %}

{% load static %}

{% block title %}
    Contato | {{ block.super }}
{% endblock  %}

{% block content %}

  <section>
          <div class="col-sm-6" style="margin-left: 2em;">
               <h1 style="font-size: 46px;font-weight: bold; margin-top: 64px;">CONTATO</h1>
            {% if success %}
                <div class="alert alert-success">
                  Mensagem enviada com sucesso.
                </div>
            {% endif %}

            <form class="form-horizontal" action="" method="post">
              {% csrf_token %}
                  {% for field in form %}
                    <div class="form-group {% if field.erros %} has-error {% endif %}">

                      <div class="col-md-9">
                         <label for="{{ field.auto_id }}" style="font-size: 20px;" >{{ field.label }}</label>
                        {% render_field field class='form-control' placeholder=field.label %}

                        {% for error in field.errors  %}
                              <span class="help-block">{{ error }}</span>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                <div class="form-group">
                    <div class="col-md-9">
                      <button type="submit" class="btn btn-contact">Enviar</button>
                    </div>
                  </div>
            </form>
          </div>
          <div class="col-sm-5 center-text" style="margin-top: 90px;">
              <h2 style="margin: 0; margin-bottom: 50px; font-weight: bold;">ENVIE MENSAGEM,
                    LIGUE OU VENHA NOS VISITAR</h2>
              <img class="img-contact-right" src="{% static 'img/background-images/escritorio.jpg' %}"/>
          </div>
  </section>
<section class="section-contact-map ">
        <div class="col-sm-7">
            <iframe width="98%" height="500" frameborder="0"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d285.73073097280263!2d-43.9330298069756!3d-19.91885644790053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa699f0ed4385bb%3A0x31918fab1034d3a7!2sR.+Sapuca%C3%AD%2C+571+-+Floresta%2C+Belo+Horizonte+-+MG%2C+30150-050!5e1!3m2!1spt-BR!2sbr!4v1495723320257">
            </iframe>
         </div>
        <div class="col-sm-4">
            <div class="contact-container-infor">
                <h1 style="font-size: 2.5em;font-weight: bold;">Escritório do Concilia BR-381 e Anel</h1>
                <p>
                    <b>E-mail:</b> xxxxxx@conciliabr381eanel.com.br<br />
                    <b>Telefone:</b> (31) 3224-7704 <br />
                    <b>Endereço:</b> Rua Sapucaí, 571, bairro Floresta, Belo Horizonte - MG <br />
                    <b>CEP: </b>30150-050
                </p>
                <h2 class="subtitle-contact">Como chegar:</h2>
                 <p>
                   <img title="Metrô" class="contact-icons" src="{% static 'img/icones/traim.png' %}" />Descer na Estação Central e sair pela Rua Sapucaí <br />
                   <img title="Ônibus" class="contact-icons" src="{% static 'img/icones/bus.png' %}" />Linhas que atendem a região: 8205 / 8106 / 9104 / 8103 / 8405 / 9210 / SC03A <br />
                   <img title="A Pé" class="contact-icons" src="{% static 'img/icones/person-walking.svg' %}" />À 800 m da Praça Sete de Setembro, na Região Central de BH <br />
                </p>
                <h2 class="subtitle-contact">Pontos de referência: </h2>
                <p>Viaduto Santa Tereza, TV Alterosa, Salumeria Centrale</p>
            </div>
        </div>
</section>
{% endblock  %}