{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    Dúvidas | {{ block.super }}
{% endblock  %}

{% block content %}

<section class="center-text">
    <h1 class="title-community">Dúvidas ?</h1>
    <h2>Veja as mais frequentes</h2>
</section>
<section>
    <div class="row">
      <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e coisas do gênero).
        </p>
    </div>
</section>
<div class="line-separator-gray"></div>
{% endblock  %}