{% extends "base.html" %}

{% load static %}

{% block content %}

<!--<div class="row">-->
<div>
    <div class="col-lg-4">
        <p></p>
        <!--<div class="col-sm-6 div-align-logo-marca">-->
            <!--<h1 class="text-header-page">Veja como começou o programa concilia BR 381</h1>-->
            <!--<p>-->
                <!--O Concilia BR-381 e Anel (Programa Judicial de Conciliação para Remoção e Reassentamento Humanizados de Famílias do Anel Rodoviário e BR-381) foi criado em função da necessidade de revitalização dessas rodovias. É uma iniciativa da Justiça Federal e do Departamento Nacional de Infraestrutura de Transportes (DNIT), em parceria com Ministério Público Federal (MPF), Defensoria Pública da União (DPU), Companhia Urbanizadora e de Habitação de Belo Horizonte (URBEL) e Comunidade de Moradores em Área de Risco de Belo Horizonte (CMAR).-->
            <!--</p>-->
    </div>
    <div class="col-lg-8">
        <h1 class="text-header-page text-align-right">Construindo um caminho melhor</h1>
                <p class="text-upper text-align-right text-font-17">
                    O COncilia BR-381 e anel (Programa Judicial de Conciliação para remoção e
                    reassentamento humanizados de famílias do anel rodoviário e br-381) foi
                    criado em função da necessidade de revitalização desas rodovias. É uma
                    iniciativa da justiça federal e do departamento nacional de infraestrutura de transportes (DNIT). Em parceria com Ministério Público Federal (MPF),
                    Defensoria pública da união (DPU), Companhia urbanizadora e de habitação
                    de belo horizonte (urbel) e comunidade de moradores em área de risco de
                    belo horizonte (cmar).
                </p>
    </div>
</div>
<div>
    <div class="col-lg-4">
        <div class="index-button-background">
            <a href="#" class="button-index">A BR-381</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="index-button-background">
            <a href="#" class="button-index">O PROGRAMA</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="index-button-background">
            <a href="#" class="button-index">OPORTUNIDADE</a>
        </div>
    </div>
</div>
<!--<div class="row">-->
<!--<div class="row">-->
    <!--<div class="small-12 columns">-->

    <!--</div>-->
<!--</div>-->
<!--<div class="row">-->


<div class="row">
    <div class="small-12 columns">
        {% include "timeline.html" %}
    </div>

</div>


<!--<div class="top-border medium-down"></div>-->

<div class="row">
    <div class="small-12 columns">
             {% include "carousel.html" %}
    </div>

</div>

<div>
    <div class="parallax"></div>
</div>
<!--<div>-->
    <!--<div class="col-lg-12">-->
           <!---->
    <!--</div>-->
<!--</div>-->




<script>
    jQuery(document).ready(function() {
        $('#quote-carousel').carousel({
            pause: true,
            interval: 10000,
        });

    });
</script>
{% endblock %}