{% extends "base.html" %}

{% load static %}

{% block title %}
    Manual de identidade visual | {{ block.super }}
{% endblock  %}

{% block content %}

<section>
    <div class="row">
        <div class="col-sm-12">
            <h1 style="font-size: 4em; font-weight: 600;">MANUAL DE IDENTIDADE VISUAL</h1>
        </div>
    </div>
    <div class="row">
         <div class="col-sm-5">
              <img title="Manual de Identidade Visual" style="height:380px;" src="{% static 'img/imagens-paginas-internas/capa-manual-marca.jpg' %}" />
              <p style="margin-left: 1.5rem;"><b>Criação:</b>Bruno Santos</p>
        </div>
        <div class="col-md-7">
            <p>Esse manual de identidade visual tem como objetivo auxiliar a formação e manutenção da imagem institucional do <b>Concilia BR-381 e Anel</b> - Programa Judicial de Conciliação para Remoção e Reassentamento Humanizados de Famílias do Anel Rodoviário e BR-381.</p>
            <p>As orientações contidas nesse documento facilitam a fixação da marca e a comunicação com o público em geral, além de padronizar e direcionar sua aplicabilidade em peças gráficas e materiais de uso cotidiano.</p>
            <p>A correta aplicação da marca, independente da mídia, facilita a sua identificação por parte do público-alvo tornando, assim, a comunicação mais eficiente e, consequentemente, gerando mais resultados. Dessa forma, não é permitida qualquer alteração conceitual feita isoladamente, já que isso pode interferir no conceito e na qualidade da marca.</p>
            <p>Para não comprometer a legibilidade e zelando pelo uso correto da marca, foram criadas regras de utilização que estão disponíveis no arquivo abaixo. Caso precise da logomarca em alta resolução, <a class="link-text-patner" href="{% url 'contact' %}">entre em contato conosco.</a></p>
        </div>

    </div>
</section>
<section>
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 50px;margin-top: 60px;">
            <br />

                <a target="_blank" href="{% static 'files/Manual_identidade_visual.pdf' %}">
                    <b>
                        <h3>
                            <img title="Visualizar" class="contact-icons" src="{% static 'img/icones/pdf_icon.svg' %}" />
                            Clique aqui para visualizar o Manual de identidade visual
                        </h3>
                    </b>
                </a>

        </div>
    </div>
</section>
 <!--<embed src=" " width="100%" height="2100px" />-->
{% endblock  %}