<div class="row">
    <div class="col-md-12">
      <nav aria-label="Page navigation" style="text-align: center;">
          <ul class="pagination" style="display: inline-block;" class="btn btn-primary">
          {% for page in paginator.page_range %}
            <li {% if page_obj.number == page %} class="active" {% endif %}>
                <a href="?page={{page}}{{getvars}}" style="background-color: #ff6c00;">{{page}}</a>
            </li>
          {% endfor %}

          </ul>
        </nav>
    </div>
</div>
