{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} Parceiros | {{ block.super }} {% endblock %}

{% block content %}
<div class="background-middle bg-m-3" style="margin: 0"></div>
<div class="b-background3"></div>
{% block menu %} {{ block.super }} {% endblock %}
 <div class="row">
        <div class="columns small-12 center-text">
            <h1>Parceiros</h1>
        </div>
 </div>
<div class="row">
    <div class="medium-12 large-8 columns">

        <article>
            <h4><strong>A união de diversas instituições públicas permitiu que esse Programa de reassentamento humanizado se tornasse uma realidade.</strong></h4>

        </article>

    </div>
</div>
{% endblock %}