{% extends "base.html" %} {% load widget_tweaks %}

{% load static %}

{% block title %} Quem realiza e parceiros | {{ block.super }} {% endblock %}

{% block content %}


<section class="section-about">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="font-size: 4em; font-weight: 600; text-transform: uppercase;">Quem realiza e parceiros</h1>
        </div>
    </div>
</section>

<section class="section-border-bottom section-partners">
    <div class="row partners-row">
         <div class="col-sm-6">
            <a href="http://www.dnit.gov.br/" title="Clique aqui para acessar" target="_blank">
                <img src="{% static 'img/logomarcas/2-DNIT.png' %}" alt="Dnit - Departamento Nacional de Infraestrutura de Transportes" />
            </a>
            <p class="justfy-text">
               Responsável pela contratação de empresas para elaboração dos projetos básico, executivo e para a execução das obras de adequação de capacidade da BR-381/MG no segmento que vai de Belo Horizonte a Governador Valadares. O trecho de 303 quilômetros foi dividido em 11 lotes para execução das obras, que incluem duplicação, melhoramentos e ampliação de capacidade e segurança.
            </p>
        </div>
        <div class="col-sm-6">
           <a href="https://portal.trf1.jus.br/sjmg" title="Clique aqui para acessar" target="_blank">
             <img src="{% static 'img/logomarcas/logo_jf_horizontal.png' %}" alt="Justiça Federal">
           </a>
           <p class="justfy-text">
              Promotora do Concilia BR-381 e Anel (Programa Judicial de Conciliação para Remoção e Reassentamento Humanizado de Famílias do Anel Rodoviário e BR-381), em conjunto com o Departamento Nacional de Infraestrutura de Transportes, Ministério Público Federal, Defensoria Pública da União, Comunidade de Moradores de Áreas de Risco e município de Belo Horizonte. Efetua todas as conciliações com o objetivo de chegar a uma solução consensual dos conflitos. Para isso articula a construção de acordos pelos parceiros e decide, homologando e determinando as providências necessárias para atingir o escopo do Programa.
           </p>
        </div>
    </div>
    <div class="row partners-row">
        <div class="col-sm-6">
            <a href="http://www.dpu.def.br" title="Clique aqui para acessar" target="_blank">
                <img src="{% static 'img/logomarcas/DPU.png' %}" alt="DPU"/>
            </a>
            <p class="justfy-text">
                A Defensoria Pública da União (DPU) em Minas Gerais, presta assistência jurídica à população nos mutirões de Conciliação. Seu objetivo é garantir a remoção humanizada das famílias que ocupam faixas que impedem a realização de obras de reforma e ampliação da rodovia.
            </p>
        </div>
         <div class="col-sm-6">
            <a href="http://portalpbh.pbh.gov.br/pbh/ecp/comunidade.do?app=urbel" title="Clique aqui para acessar" target="_blank">
                <img src="{% static 'img/logomarcas/urbel.png' %}" alt="URBEL">
            </a>
            <p class="justfy-text">
            A Urbel é o órgão da Prefeitura de Belo Horizonte responsável pelos diagnósticos sociais das famílias que vivem na faixa de domínio do Anel Rodoviário da capital mineira. É responsável pelo acompanhamento do pré e pós morar das famílias beneficiárias do Programa, com base no cadastro dos moradores. Essas informações estão em constante atualização e são elas que subsidiam as ações sociais. Com base nos dados, o órgão realiza o trabalho comunitário com as famílias nas áreas de saúde, assistência social, assessoria jurídica, educação, cultura e meio ambiente.
            </p>
        </div>
        <!--<div class="col-sm-6">-->
            <!--<a href="http://www.mpf.mp.br/mg" title="Clique aqui para acessar" target="_blank">-->
                <!--<img src="{% static 'img/logomarcas/mpf.png' %}" alt="MPF">-->
             <!--</a>-->
             <!--<p class="justfy-text">-->
                <!--O Ministério Público Federal é responsável por fiscalizar as obras da duplicação da BR-381 e Anel Rodoviário. Sua função é acompanhar os pagamentos, cronogramas, e ainda os impactos nos meios de transporte da obra.-->
             <!--</p>-->
        <!--</div>-->
    </div>
    <div class="row partners-row">
        <div class="col-sm-6">
            <a href="http://comunidadecmar.blogspot.com.br" title="Clique aqui para acessar" target="_blank">
                <img src="{% static 'img/logomarcas/CMAR2.png' %}" alt="CMAR">
            </a>
            <p class="justfy-text">
              A Comunidade de Moradores de Áreas de Risco - CMAR reúne representantes de diversas comunidades para buscar uma solução que venha atender o conjunto de todas as famílias que serão removidas e reassentadas em função das obras de revitalização do Anel Rodoviário de Belo Horizonte. Hoje, o movimento conta com a participação de moradores de diversas comunidades.
            </p>
        </div>
        <!--<div class="col-sm-6">-->
            <!--<a href="http://www.brasil.gov.br" title="Clique aqui para acessar" target="_blank">-->
                <!--<img src="{% static 'img/logomarcas/3-gov.png' %}" alt="Governo Federal">-->
            <!--</a>-->
            <!--<p class="justfy-text">-->
                <!--O Governo Federal, por meio da Secretaria do Patrimônio da União – SPU, é responsável pela vistoria técnica dos terrenos e imóveis da BR-381 e Anel Rodoviário. Em parceria com os outros órgãos deverão fazer o levantamento topográfico e fornecer esclarecimentos aos moradores e proprietários das áreas atingidas, sobre os procedimentos de desapropriação, relocação ou reassentamento.-->
            <!--</p>-->
        <!--</div>-->
    </div>
</section>
{% endblock %}