{% load static %}

<div id="timeline">
		<ul id="dates" style="margin-left: 0px !important;">
			<li><a href="#2012">2012</a></li>
			<li><a href="#2013">2013</a></li>
			<li><a href="#2014">2014</a></li>
			<li><a href="#2015">2015</a></li>
			<li><a href="#2016">2016</a></li>
			<li><a href="#2017">2017</a></li>
		</ul>
		<ul id="issues">
			<li id="2012">
				<div>
					<img class="img-responsive img-thumbnail image-timeline" src="{% static 'img/comunidades_fotos/Mobilizacao_Bom_Destino.jpg' %}"/>
					<!--<img class="img-responsive" src="{% static 'img/timeline/images/1.png' %}" />-->
				</div>
				<div>
					<h1>Mobilização vila bom destino - BH</h1>
					<p>
						No dia 12 de setembro de 2012, foi realizada uma mobilização para selagem das famílias da vila bom destino - BH.
					</p>
				</div>
			</li>
			<li id="2013">
				<!--<img class="img-responsive" src="{% static 'img/timeline/images/2.png' %}"/>-->
				<img class="img-responsive img-thumbnail image-timeline" src="{% static 'img/comunidades_fotos/Mobilizacao_Pica_Pau.jpg' %}"/>
				<h1>Mobilização vila pica pau - BH</h1>
				<p>No dia 05 de março de 2013, foi realizada uma mobilização para selagem das famílias da vila pica pau - BH.</p>
			</li>
			<li id="2014">

				<!--<img class="img-responsive" src="{% static 'img/timeline/images/3.png' %}"/>-->
				<img class="img-responsive img-thumbnail image-timeline" src="{% static 'img/comunidades_fotos/Mobilizacao_Social_vila_da_paz.jpg' %}"/>
				<h1>Mobilização vila da paz - BH</h1>
				<p>No dia 06 de abril de 2014, foi realizada uma mobilização para selagem das famílias da vila da paz - BH.</p>
			</li>
			<li id="2015">
				<!--<img class="img-responsive" src="{% static 'img/timeline/images/4.png' %}"/>-->
				<img class="img-responsive img-thumbnail image-timeline" src="{% static 'img/comunidades_fotos/Mobilizacao_Vila_da_Luz.jpg' %}"/>
				<h1>Mobilização vila da luz - BH</h1>
				<p>No dia 20 de junho de 2015, foi realizada uma mobilização para selagem das famílias da vila da luz - BH.</p>
			</li>
			<li id="2016">
				<!--<img class="img-responsive" src="{% static 'img/timeline/images/5.png' %}"/>-->
				<img class="img-responsive img-thumbnail image-timeline" src="{% static 'img/comunidades_fotos/Visita_tecnica_Vila_da_Luz.jpg' %}"/>
				<h1>Visita técnica vila da Luz</h1>
				<p>No dia 15 de agosto de 2016, foi realizada uma visita técnica na vila da luz - BH.</p>
			</li>
			<li id="2017">
				<!--<img class="img-responsive" src="{% static 'img/timeline/images/6.png' %}"/>-->
				<img class="img-responsive img-thumbnail image-timeline" src="{% static 'img/comunidades_fotos/Visita_tecnica_vila_pica_pau.jpg' %}"/>
				<h1>Visita técnica vila pica pau</h1>
				<p>No dia 11 de fevereiro de 2017, foi realizada uma visita técnica na vila pica pau - BH.</p>
			</li>
		</ul>

		<div id="grad_left"></div>
		<div id="grad_right"></div>
		<a href="#" id="next">+</a>
		<a href="#" id="prev">-</a>
</div>
<script>
		$(function(){
			$().timelinr({
				arrowKeys: 'true',

			})
		});
</script>