{% load static %}
<script src="{% static 'js/jquery.timelinr-0.9.6.js' %}"></script>
<div class="row">
	<h1 class="text-header-page" style="text-align: center; margin-right: 0;">Linha do Tempo do Programa</h1>
<div class="col-sm-12" id="timeline">
		<ul id="dates" style="margin-left: 0px !important;">
			<li><a href="#29-10-2013">29/10/2013</a></li>
			<li><a href="#11-01-2013">11/01/2013</a></li>
			<li><a href="#26-11-2014">26/11/2014</a></li>
			<li><a href="#09-12-2014">09/12/2014</a></li>
			<li><a href="#15-01-2015">15/01/2015</a></li>
			<li><a href="#19-01-2015">19/01/2015</a></li>
			<li><a href="#19-01-2015-2">19/01/2015</a></li>
			<li><a href="#23-01-2015">23/01/2015</a></li>
			<li><a href="#27-01-2015">27/01/2015</a></li>
			<li><a href="#28-01-2015">28/01/2015</a></li>
			<li><a href="#29-01-2015">29/01/2015</a></li>
			<li><a href="#30-01-2015">30/01/2015</a></li>
			<li><a href="#07-01-2015">07/03/2015</a></li>
			<li><a href="#23-03-2015">23/03/2015</a></li>
			<li><a href="#23-03-2015-2">23/03/2015</a></li>
			<li><a href="#28-03-2015">28/03/2015</a></li>
			<li><a href="#06-04-2015">06/04/2015</a></li>
			<li><a href="#07-04-2015">07/04/2015</a></li>
			<li><a href="#16-05-2015">16/05/2015</a></li>
			<li><a href="#16-05-2015-2">16/05/2015</a></li>
			<li><a href="#27-08-2015">27/08/2015</a></li>
			<li><a href="#24-09-2015">24/09/2015</a></li>
			<li><a href="#05-12-2015">05/12/2015</a></li>
			<li><a href="#09-12-2015">09/12/2015</a></li>
			<li><a href="#30-01-2016">30/01/2016</a></li>
			<li><a href="#09-04-2016">09/04/2016</a></li>
			<li><a href="#16-04-2016">16/04/2016</a></li>
			<li><a href="#24-05-2016">24/05/2016</a></li>
			<li><a href="#09-06-2016">09/06/2016</a></li>
			<li><a href="#28-06-2016">28/06/2016</a></li>
			<li><a href="#26-07-2016">26/07/2016</a></li>
			<li><a href="#02-08-2016">02/08/2016</a></li>
			<li><a href="#21-09-2016">21/09/2016</a></li>
			<li><a href="#25-09-2016">25/09/2016</a></li>
			<li><a href="#27-09-2016">27/09/2016</a></li>
			<li><a href="#01-10-2016">01/10/2016</a></li>
			<li><a href="#13-10-2016">13/10/2016</a></li>
			<li><a href="#04-03-2017">04/03/2017</a></li>
			<li><a href="#04-03-2017">16/03/2017</a></li>
			<li><a href="#20-03-2017">20/03/2017</a></li>
			<li><a href="#26-04-2017">26/04/2017</a></li>
		</ul>
		<ul id="issues" class="col-sm-12">
			<li id="29-10-2013">
				<div>
					<h1>Distribuição da Ação Civil Pública Nº 57367-09.2013.4.01.3800</h1>
					<p>
					ACP que tem por objetivo garantir que a população de baixa renda, que mora próxima ao Anel Rodoviário de BH e trecho da BR-381, nos locais a serem atingidos pelas obras de revitalização, tenha seus direitos respeitados no processo de remoção. A ação, de autoria da Defensoria Pública da União (DPU) e Ministério Público Federal (MPF), engloba os órgãos públicos Departamento Nacional de Infraestrutura de Transportes (DNIT), Governo de Minas Gerais, Caixa Econômica Federal, Companhia Urbanizadora de Belo Horizonte (Urbel), Departamento de Estradas de Rodagem de MG (DEER-MG), Prefeituras de Belo Horizonte, Sabará e Santa Luzia.
					</p>
				</div>
			</li>
			<li id="11-01-2013">
				<div>
					<img class="img-responsive image-timeline" src="static/img/timeline-images/2013_11_01_reuniao_com_liderancas.jpg"/>
				</div>
				<div>
					<h1>Reunião com lideranças comunitárias</h1>
					<p>Encontro para explicar sobre o cadastramento das famílias que serão beneficiadas pelo <b>Concilia BR-381 e Anel</b></p>
				</div>
			</li>
			<li id="26-11-2014">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2014_11_26_inicio_trabalhos_peritagem.jpg"/>
				<h1>Início dos trabalhos de peritagem</h1>
				<p>Início das atividades de peritagem na BR-381 no trecho de Caeté a Governador Valadares e selagem piloto da Vila Pica Pau</p>
			</li>
			<li id="09-12-2014">
				<div class="div-timeline-left">
					<img class="img-responsive img-thumbnail image-timeline" src="{% static 'img/comunidades_fotos/Mobilizacao_Social_vila_da_paz.jpg' %}"/>
				</div>
				<div class="div-timeline-right">
					<h1>Assinatura do Acordo do Programa</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem diam, semper vel orci quis, venenatis egestas erat. Phasellus molestie magna vitae feugiat lacinia. Quisque fermentum luctus lectus, vitae porta nisl fermentum non. Proin tristique nec odio finibus volutpat. Nulla at vulputate quam. In et mi iaculis, vulputate metus vel, imperdiet est. Nam sodales diam sed nulla imperdiet tristique. In a ullamcorper purus. Sed ultricies, neque vel sagittis pellentesque, ligula nunc dictum quam, eget semper metus diam vitae diam.</p>
				</div>
			</li>
			<li id="15-01-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_01_15_visita_peritos_jud_vila_bom_destino.jpg"/>
				<h1>Visita técnica dos peritos judiciais na vila bom destino</h1>
				<p>Visita de reconhecimento do espaço geosocial e identificação de lideranças na Vila Bom Destino.</p>
			</li>
			<li id="19-01-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_01_19_visita_peritos_jud_vila_luz.jpg"/>
				<h1>Visita técnica dos peritos judiciais na vila da luz</h1>
				<p>Visita de reconhecimento do espaço geosocial e identificação de lideranças na vila da luz.</p>
			</li>
			<li id="19-01-2015-2">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_01_19_visita_tecnica_vila_da_paz.jpg"/>
				<h1>Visita técnica dos peritos judiciais na vila da paz</h1>
				<p>Visita de reconhecimento do espaço geosocial e identificação de lideranças na vila da paz.</p>
			</li>
			<li id="23-01-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_01_19_visita_tecnica_vila_pica_pau.jpg"/>
				<h1>Visita técnica dos peritos judiciais na vila pica pau</h1>
				<p>Visita de reconhecimento do espaço geosocial e identificação de lideranças na vila pica pau.</p>
			</li>
			<li id="27-01-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_01_27_apresentacao_projeto_vila_bom_destino.jpg"/>
				<h1>Apresentação do projeto Concilia BR-381 e Anel para a Vila Bom Destino</h1>
				<p>Apresentação do Programa, objetivos e dinâmica dos trabalhos para a Vila Bom Destino.</p>
			</li>
			<li id="28-01-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_01_28_apresentacao_projeto_vila_da_paz.jpg"/>
				<h1>Apresentação do projeto Concilia BR-381 e Anel para a Vila da Paz</h1>
				<p>Apresentação do Programa, objetivos e dinâmica dos trabalhos para a Vila da Paz.</p>
			</li>
			<li id="29-01-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_01_29_apresentacao_projeto_vila_pica_pau.jpg"/>
				<h1>Apresentação do projeto Concilia BR-381 e Anel para a Vila da Pica Pau</h1>
				<p>Apresentação do Programa, objetivos e dinâmica dos trabalhos para a Vila Pica Pau.</p>
			</li>
			<li id="30-01-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_01_30_apresentacao_projeto_vila_luz.jpg"/>
				<h1>Apresentação do projeto Concilia BR-381 e Anel para a Vila da Luz</h1>
				<p>Apresentação do Programa, objetivos e dinâmica dos trabalhos para a Vila da Luz.</p>
			</li>
			<li id="07-03-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_03_07_mobilizacao_vila_pica_pau.jpg"/>
				<h1>Evento de Mobilização Social na Vila Pica Pau</h1>
				<p>Ação que tem como meta ser o marco oficial de início das atividades do Concilia BR-381 e Anel na comunidade.</p>
			</li>
			<li id="23-03-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_03_23_inspecao_judicial_vilas.jpg"/>
				<h1>Inspeção judicial</h1>
				<p>Visita oficial dos parceiros do Programa e magistrados nas vilas prioritárias para acompanhar os trabalhos sociais e técnicos que estavam sendo desenvolvidos.</p>
			</li>
			<li id="23-03-2015-2">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_03_23_audiencia_publica_sobre_remocao_reassentamento.jpg"/>
				<h1>Audiência Pública sobre Remoção e Reassentamento</h1>
				<p>Reunião na Justiça Federal com a presença de todos os parceiros do Programa para apresentar balanço das atividades desenvolvidas, definir metas e esclarecer dúvidas.</p>
			</li>
			<li id="28-03-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_03_28_evento_mobilizacao_social_vila_paz.jpg"/>
				<h1>Evento de Mobilização Social na Vila da Paz</h1>
				<p>Ação que tem como meta ser o marco oficial de início das atividades do Concilia BR-381 e Anel na comunidade.</p>
			</li>
			<li id="06-04-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_04_06_workshop_programa.jpg"/>
				<h1>Workshop sobre Remoção e Reassentamento Humanizados</h1>
				<p>Evento com a presença de todos os parceiros do Programa com o intuito de propor uma reflexão sobre o tema “reassentamento humanizado” e discutir novas formas de trabalho sob essa ótica.</p>
			</li>
			<li id="07-04-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_04_07_selagem_vila_da_paz.jpg"/>
				<h1>Início Selagem Vila da Paz</h1>
				<p>Selagem é um termo utilizado pela equipe técnica durante o processo de identificação e cadastramento das famílias que terão direito ao reassentamento por meio do Concilia BR-381 e Anel. Durante essa ação, as moradias recebem um selo (que dá origem ao nome do processo) com um número de identificação do imóvel. Estas e outras informações fornecerão subsídios para a Justiça Federal nas audiências de conciliação. Durante a atividade, é feito um levantamento arquitetônico, medição dos imóveis, avaliação das benfeitorias das moradias, análise de vulnerabilidade dos moradores, cadastro social das famílias, croqui técnico e registro fotográfico. Em termos genéricos, pode-se compreender a selagem como um registro das realidades física e social identificadas em campo.</p>
			</li>
			<li id="16-05-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_05_16_manha_cultural_vila_bom_destino.jpg"/>
				<h1>Evento manhã cultural na Vila Bom Destino</h1>
				<p>Ação que tem como meta ser o marco oficial de início das atividades do Concilia BR-381 e Anel na comunidade.</p>
			</li>
			<li id="16-05-2015-2">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_05_16_manha_cultural_vila_bom_destino.jpg"/>
				<h1>Inspeção judicial na BR-381</h1>
				<p>Magistrados e peritos judiciais visitam as obras de duplicação da BR–381 e as atividades desenvolvidas pelo consórcio formado pelas empresas Isolux Córsan e Engevix – responsável pelas obras de alguns dos lotes do projeto.</p>
			</li>
			<li id="13-08-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_08_13_visita_corredor_geral_ministro_jorge_mucci.jpg"/>
				<h1>Audiência de Conciliação</h1>
				<p>Audiência presidida pelo corregedor-geral da Justiça Federal, o ministro do STJ, Jorge Mussi, e acompanhada pela desembargadora Maria do Carmo Cardoso e demais parceiros do Programa com o objetivo de alinhar informações do Programa e definir novas estratégias de planejamento.</p>
			</li>
			<li id="27-08-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_08_27_reuniao_vila_humaita.jpg"/>
				<h1>Reunião com comunidade da Vila Humaitá</h1>
				<p>Apresentação do Concilia BR-381 e Anel para a comunidade destacando os objetivos e a dinâmica dos trabalhos do Programa.</p>
			</li>
			<li id="24-09-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_09_24_reuniao_cmar_vila_sao_pau.jpg"/>
				<h1>Reunião com moradores da Vila São Paulo</h1>
				<p>Apresentação do Concilia BR-381 e Anel para a comunidade destacando os objetivos, a dinâmica dos trabalhos do Programa e esclarecendo dúvidas dos moradores.</p>
			</li>
			<li id="05-12-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_11_21_mobilizacao_vila_passagem.jpg"/>
				<h1>Evento de Mobilização Social na Vila da Passagem</h1>
				<p>Evento com atividades de recreação, cultura e geração de renda com todas as comunidades sensibilizadas. Momento de integração e esclarecimento de dúvidas das comunidades beneficiadas pelo Concilia BR-381 e Anel.</p>
			</li>
			<li id="09-12-2015">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2015_12_09_comemoracao_1ano_acordo_programa.jpg"/>
				<h1>Um ano de assinatura do Acordo do Programa</h1>
				<p>Evento na Justiça Federal em comemoração à assinatura do acordo celebrado entre as instituições parceiras no Programa. Apresentação de balanço das atividades e planejamento para 2016.</p>
			</li>
			<li id="30-01-2016">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_01_30_selagem_bairro_bom_destino.jpg"/>
				<h1>Selagem na Vila Bom Destino</h1>
				<p>Registro das realidades física e social identificadas na Vila Bom Destino, em Santa Luzia.</p>
			</li>
			<li id="09-04-2016">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_04_09_cha_com_liderancas.jpg"/>
				<h1>Café com prosa</h1>
				<p>Evento que reuniu lideranças comunitárias das vilas prioritárias. Durante o preparo de quitutes e delícias da culinária mineira pela comunidade e peritos judiciais iam surgindo novas demandas sobre as vilas fomentadas por um bate-papo informal.</p>
			</li>
			<li id="16-04-2016">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_04_16_memorial_morar_vila_paz.jpg"/>
				<h1>Intervenção Urbana na Vila da Paz</h1>
				<p>As habitações das 48 famílias que viviam próximas ao “Viaduto dos Correios”, como é conhecido na região, foram representadas por meio de peças de madeira afixadas no muro de contenção construído, após revitalização do local. Intitulada Memorial do Morar, a intervenção urbana retratou a história de moradores, que hoje se encontram fora de risco. Após uma semana de intervenção, foi feito um café comunitário no local envolvendo toda a comunidade.</p>
			</li>
			<li id="24-05-2016">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_05_24_primeiro_encontro_familias_aluguel_social.jpg"/>
				<h1>I Encontro com as famílias do Aluguel Social</h1>
				<p>As famílias em situação de risco extremo foram removidas das vilas e inseridas no benefício do Aluguel Social. Por terem sido reassentadas de maneira provisória em locais diferentes, foi criado um evento que pudesse reunir todo esse público para mantê-los informados e sensibilizados sobre as atividades que estavam sendo desenvolvidas pelo Concilia BR-381 e Anel.</p>
			</li>
			<li id="09-06-2016">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_05_24_primeiro_encontro_familias_aluguel_social.jpg"/>
				<h1>Selagem Vila da Luz</h1>
				<p>Registro das realidades física e social identificadas na Vila da Luz, uma das comunidades mais densas de Belo Horizonte.</p>
			</li>
			<li id="28-06-2016">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_05_24_primeiro_encontro_familias_aluguel_social.jpg"/>
				<h1>Reunião na Vila Amélia Moreira</h1>
				<p>Apresentação do Concilia BR-381 e Anel para a comunidade destacando os objetivos, a dinâmica dos trabalhos do Programa e esclarecendo dúvidas dos moradores.</p>
			</li>
			<li id="26-07-2016">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_07_26_2encontro_familias_aluguel_social.jpg"/>
				<h1>II Encontro com as famílias do Aluguel Social</h1>
				<p>Encontro periódico feito com as famílias em situação de risco extremo que foram removidas das vilas e inseridas no benefício do Aluguel Social.</p>
			</li>
			<li id="02-08-2016">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_08_02_exposicao_Olhos_do_Anel.jpg"/>
				<h1>Exposição Olhos do Anel</h1>
				<p>Exposição de telas desenvolvida em parceria com o Ateliê Marcos Lima, no PIC Cidade. A mostra teve como objetivo traduzir o olhar de 45 artistas em relação ao cotidiano das famílias beneficiadas pelo Concilia BR-381 e Anel.</p>
			</li>
			<li id="21-09-2016">
				<!--<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_08_02_exposicao_Olhos_do_Anel.jpg"/>-->
				<h1>Evento de pré-conciliação</h1>
				<p>Atividade desenvolvida com os moradores que terão prioridade no reassentamento definitivo. Foi feita uma simulação de audiência de conciliação com os moradores para explicar como é realizado esse processo e checar toda a documentação necessária.</p>
			</li>
			<li id="25-09-2016">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_09_25_mostra_marginal.jpg"/>
				<h1>Mostra Marginal</h1>
				<p>Evento promovido pelo Concilia BR-381 e Anel que reuniu diversos coletivos que desenvolvem diferentes trabalhos em espaços à margem do centro da cidade. A atividade reuniu mais de 250 pessoas, lotando o Teatro Marília, na região central de Belo Horizonte. As apresentações ficaram por conta dos coletivos Grupo Espaço Preto, VDL - Grupo de Jovens da Vila da Luz, Apolônia/Grupo Boca, Lá da Favelinha, Fica Vivo! Morro Alto e a poeta Nívea Sabino. Atrações de teatro, audiovisual, literatura, música, dança, esportes e culinária mostraram aos moradores das comunidades que serão reassentadas outras possibilidades culturais. O evento proporcionou o debate, a interação e o empoderamento.</p>
			</li>
			<li id="27-09-2016">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_09_27_3encontro_aluguel_social.jpg"/>
				<h1>III Encontro com as famílias do Aluguel Social</h1>
				<p>Encontro periódico feito com as famílias em situação de risco extremo que foram removidas das vilas e inseridas no benefício do Aluguel Social.</p>
			</li>
			<li id="01-10-2016">
				<!--<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_09_27_3encontro_aluguel_social.jpg"/>-->
				<h1>Retorno do processo para a 7ª Vara</h1>
				<p>Sem mais informações.</p>
			</li>
			<li id="13-10-2016">
				<!--<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2016_09_27_3encontro_aluguel_social.jpg"/>-->
				<h1>Destituição dos Peritos Judiciais</h1>
				<p>Sem mais informações.</p>
			</li>
			<li id="04-03-2017">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2017_03_04_visita_dr_andre_as_comunidades_br381_anel.jpg"/>
				<h1>Visita Dr Andre às comunidades no Anel Rodoviário</h1>
				<p></p>
			</li>
			<li id="16-03-2017">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2017_03_16_multirao_conciliacao_nucom_br381.jpg"/>
				<h1>Mutirão de desapropriação da BR-381</h1>
				<p>Mutirão realizado no Núcleo de Conciliação da Justiça Federal para tratar da desapropriação do lote 7 na BR-381.</p>
			</li>
			<li id="20-03-2017">
				<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2017_03_16_multirao_conciliacao_nucom_br381.jpg"/>
				<h1>Consolidação do Plano de Providências</h1>
				<p>1ª Etapa (DNIT, URBEL, MPF e DPU).</p>
			</li>
			<li id="26-04-2017">
				<!--<img class="img-responsive img-thumbnail image-timeline" src="static/img/timeline-images/2017_03_16_multirao_conciliacao_nucom_br381.jpg"/>-->
				<h1>Assinatura de Termo de Acordo</h1>
				<p>Acordo assinado pelo Departamento Nacional de Infraestrutura de Transportes (DNIT), Justiça Federal, Defensoria Pública da União (DPU), Ministério Público Federal, Companhia Urbanizadora e de Habitação de Belo Horizonte – URBEL e Comunidade dos Moradores de Áreas de Risco (CMAR) para reassentar de forma definitiva 264 famílias:  123 famílias inseridas no benefício do aluguel social e as demais da Vila da Paz e Vila Pica Pau.</p>
			</li>
		</ul>
		<div id="grad_left"></div>
		<div id="grad_right"></div>
		<a href="#" id="next" title="Próximo">+</a>
		<a href="#" id="prev" title="Anterior">-</a>
</div>

</div>
<script>
		$(function(){
			$().timelinr({
				arrowKeys: 'true',
				//autoPlay: 'true',
				//issuesSpeed: 'normal',
				//datesSpeed: 'normal',
				//autoPlayPause: 8000

			})
		});
</script>