{% load static %}
<script src="{% static 'js/jquery.timelinr-0.9.6.js' %}"></script>
<div class="row">
	<h1 class="text-header-page" style="text-align: center; margin-right: 0;">Linha do Tempo do Programa</h1>

<!-- Itens da linha do tempo -->
{% if timeline_itens.count > 0 %}
<div id="timeline">
		<ul id="dates" style="margin-left: 0px !important;">
				{% for event in timeline_itens %}
				<li><a href="#{{event.pk}}">{{event.event_date|date:"d/m/Y"}}</a></li>
				{% endfor %}
		</ul>
		<ul id="issues">
			{% for event in timeline_itens %}
				<li id="{{event.pk}}">
					{% if event.has_image %}
                        <div>
                            <img class="img-responsive image-timeline" src="{{event.image.url}}"/>
                        </div>
                         <div>
                            <h1>{{event.title}}</h1>
                            <p>{{event.text }}</p>
                        </div>
					{% endif %}

                    {% if not event.has_image %}
                        <div style="width: 870px; margin-left: 50px;">
                            <h1>{{event.title}}</h1>
                            <p>{{event.text }}</p>
                        </div>
                    {% endif %}
				</li>
			{% endfor %}
		</ul>
		<div id="grad_left"></div>
		<div id="grad_right"></div>
		<a href="#" id="next" title="Próximo">+</a>
		<a href="#" id="prev" title="Anterior">-</a>
</div>
{% endif %}

<!-- Caso nao seja encontrado nenhum item. -->
{% if timeline_itens.count == 0 %}
<div class="alert alert-warning timeline-warning">
	<h3 style="font-weight: bold;color: white;">Nenhum evento adicionado para a linha do tempo.</h3>
</div>
{% endif %}
</div>

<script>
		$(function(){
			$().timelinr({
				arrowKeys: 'true',
				issuesTransparency: 0
				//autoPlay: 'true',
				//issuesSpeed: 'normal',
				//datesSpeed: 'normal',
				//autoPlayPause: 8000

			})
		});
</script>